
:root {
    --blue: rgba(49, 43, 226, 1);
    --blue_transparent: rgba(49, 43, 226, .3);

    --chocolate: rgba(210, 105, 30, 1);
    --chocolate_transparent: rgba(210, 105, 30, .5);

    --color_1: var(--blue);
    --color_1_transparent: var(--blue_transparent);

    --color_2: var(--chocolate);
    --color_2_transparent: var(--chocolate_transparent);

    --spacing: 1rem;

    --fs-1: 12px;
    --lh-1: 14px;
    --fs-2: 14px;
    --lh-2: 16px;
}


/* pour bien voir sur écran */
body{
    /*transform: scale(1.3);
    margin-top: 1790px;*/
}
.pagedjs_page {
    /*border: 1px solid black;
    margin: auto;*/
}




/* routed_gothic */
@font-face {
    font-family: "routed_gothic";
    src: url("fonts/routed_gothic/routed-gothic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "routed_gothic";
    src: url("fonts/routed_gothic/routed-gothic-italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
/* routed_gothic_narrow */
@font-face {
    font-family: "routed_gothic_narrow";
    src: url("fonts/routed_gothic/routed-gothic-narrow.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "routed_gothic_narrow";
    src: url("fonts/routed_gothic/routed-gothic-narrow-italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}


body{
    --paged-layout : booklet;
    font-family: "routed_gothic";
    color: var(--color_1);
    font-size: var(--fs-2);
    line-height: var(--lh-2);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: var(--color_2);
    font-size: var(--fs-2);
}
h1 {
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: calc(1 * var(--spacing));
    margin-bottom: calc(1 * var(--spacing));
}
h1.no_border {
    border-bottom: 0px solid;
    padding-bottom: calc(0 * var(--spacing));
    margin-bottom: calc(0.5 * var(--spacing));
}
h1.h1_inverted {
    border-bottom: 0px solid;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: calc(1 * var(--spacing));
    padding-top: calc(1 * var(--spacing));
    border-top: 1px solid;
}
h2, p, *:not(li) > ul, table {
    margin-bottom: calc(.5 * var(--spacing));
}
.pagedjs_page_content > div > p {
    text-indent: calc(1 * var(--spacing));
}
li {
    margin-left: calc(1 * var(--spacing));
}

/* couv*/

#dessin_couv {
    margin-top: 140px;
    margin-bottom: 120px;
}

#pie_agents_repartition img {
    height: 200px;
    margin: auto;
    margin-bottom: var(--spacing);
}
#pie_agents_statuts img {
    height: 220px;
    margin: auto;
    margin-bottom: var(--spacing);
}

#effectifs {
    margin: auto;
    margin-bottom: var(--spacing);

}
.emphasis {
    text-decoration: underline;
}
.background {
    background-color: var(--color_1_transparent);
}
.note {
    font-family: "routed_gothic_narrow";
    font-size: var(--fs-1);
    line-height: var(--lh-1);
}

.clue {
    /*border-bottom: 2px dotted var(--color_2);*/
    /*text-decoration: var(--color_2) dotted underline;*/
}
.rough-annotation {
    z-index: -1;
}
table {
    font-family: "routed_gothic_narrow";
    font-size: var(--fs-1);
    line-height: var(--lh-1);
}
th {
    text-align: left;
}
table {
    border-collapse: collapse;
}
table th {
    background-color: var(--color_1_transparent);
}
table td, table th {
    border: 1px solid var(--color_1);
    padding: 4px;
    vertical-align: top;
}
table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

h1 { string-set: title content(text); }
.frise { 
    height: 25.5px;
    position: running(Frise);
}
@page{
    size: A5;
    margin: 1cm;
    /*bleed: 6mm;
    marks: crop;*/ 
    @top-center {
        content: string(title);
    }
    @bottom-center{
        content: "";
    }
}
@page:left {
    @bottom-left{
        content: counter(page);
    }
    @bottom-right {
        content: element(Frise);
    }
}
@page:right {
    @bottom-left{
        content: element(Frise);
    }
    @bottom-right {
        content: counter(page);
    }
}

@page:nth(1) {
    @top-center { content: none; }
    @bottom-left { content: none; }
    @bottom-center { content: none; }
    @bottom-right { content: none; }
}
@page:nth(2) {
    @top-center { content: none; }
}
@page:nth(3) {
    @top-center { content: none; }
}
@page:nth(4) {
    @top-center { content: none; }
}
@page:nth(6) {
    @top-center { content: none; }
}
@page:nth(8) {
    @top-center { content: none; }
}
@page:nth(10) {
    @top-center { content: none; }
}
@page:nth(15) {
    @top-center { content: none; }
}
@page:nth(16) {
    @top-center { content: none; }
    @bottom-left { content: none; }
    @bottom-center { content: none; }
    @bottom-right { content: none; }
}
@page:blank {
    @top-center { content: none; }
    @bottom-left { content: none; }
    @bottom-center { content: none; }
    @bottom-right { content: none; }
}



.pagedjs_left_page .pagedjs_page_content > div > h1,
.pagedjs_left_page .pagedjs_page_content > div > h2,
.pagedjs_left_page .pagedjs_page_content > div > #toc,
.pagedjs_left_page .pagedjs_page_content > div > p,
.pagedjs_left_page .pagedjs_page_content > div > ul {
    margin-right: 1cm;
}
.pagedjs_right_page .pagedjs_page_content > div > h1,
.pagedjs_right_page .pagedjs_page_content > div > h2,
.pagedjs_right_page .pagedjs_page_content > div > p,
.pagedjs_right_page .pagedjs_page_content > div > ul {
    margin-left: 1cm;
}
.pagedjs_page.pagedjs_left_page .pagedjs_margin-content {
    text-align: left;
}
.pagedjs_page.pagedjs_left_page .pagedjs_margin-content img {
    margin-left: auto;
}
.pagedjs_page.pagedjs_right_page .pagedjs_margin-content {
    text-align: right;
}
.pagedjs_margin-content {
    font-size: 10px;
    font-family: "routed_gothic_narrow";
}
hr {
    page-break-after: always;
    display: none;
}
.belle-page {
    break-before: right;
}


.how_to_answer {
    border: 1px solid var(--color_1);
    border-radius: var(--spacing);
    overflow: hidden;
}
.how_to_answer h2 {
    background-color: var(--color_1_transparent);
    color: var(--color_1);
    padding: calc(.5 * var(--spacing)) var(--spacing);
    text-align: center;
}
.how_to_answer p,
.how_to_answer ul {
    margin: 0px var(--spacing) calc(.5 * var(--spacing)) var(--spacing);
}


.dotted {
    padding: var(--spacing);
    border: 1px dotted var(--color_1);
    border-radius: var(--spacing);
    margin-bottom: calc(0.5 * var(--spacing));
    margin-left: 1cm;
}
.dotted p:last-child { margin-bottom:0px; }

.testimony {
    display: flex;
    gap: var(--spacing);
    break-inside: avoid;
}
.testimony > *:nth-child(1) {
    width: 20%;
    flex-shrink: 0;
}
.testimony > *:nth-child(1) > p:nth-child(1) {
    color: var(--color_2);
    margin-bottom: 0px;
}
.testimony > *:nth-child(1) > p:nth-child(2) {
    font-family: "routed_gothic_narrow";
    font-size: var(--fs-1);
}

#logos { position: relative; }
#logos > div {
    display: flex;
    gap: calc(1*var(--spacing));
    position:absolute; top: var(--spacing);
}
#logos img {
    display: block;
    max-height: 40px;
}

#toc li a::after {
  content: " p. " target-counter(attr(href), page);
  float: right;
}
#list-toc-generated .toc-element {
  break-inside: avoid;
}
/* counters */
#list-toc-generated {
  counter-reset: counterTocLevel1;
  height: 130px;
}
#list-toc-generated .toc-element-level-1::before {
  content: "•";
  left: -10px;
  top: 1px;
  position: relative;
  position: relative;
  font-size: 23px;
}
#list-toc-generated .toc-element-level-2::before {
  padding-right: 5px;
}
/* hack for leaders */
#list-toc-generated { overflow-x: hidden; }
/* fake leading */
#list-toc-generated .toc-element::after {
  content: ".............................................."
    ".............................................."
    ".............................................." "........";
  float: left;
  width: 0;
  padding-left: 5px;
  letter-spacing: 2px;
}
#list-toc-generated .toc-element {
  display: flex;
  position: relative;
}
#list-toc-generated .toc-element a::after {
  position: absolute;
  right: 0;
  background-color: white;
  padding-left: 6px;
}
#list-toc-generated .toc-element a {
  right: 0;
  text-decoration: none;
}


#colophon {
    margin-top: 430px;
}
#colophon * {
    /*
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    */
    font-size: var(--fs-1);
    line-height: var(--lh-1);
}