

/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-position: inside;
}

/* CONFIG PAGE */

@page  {
  size: A4;

  margin: 15mm 15mm 15mm 15mm;

  /* titre courant */
  @top-left {
    content: element(headerLeft);
  }

  @top-center {
  }

  /* titre courant */
  @top-right {
    content: element(headerRight);
  }

  /* numéro de pages */
  counter-increment: page;
  @bottom-right {
    content: counter(page) "/" counter(pages);
    font-family: IBM Plex Mono;
    font-size: 7pt;
  }

}


body, h1, h2, h3, h4 {
  font-family: IBM Plex Sans;
  font-size: 10pt;
}

/* TITRES COURANTS */
.headerLeft {
  position: running(headerLeft);
  margin-bottom: 0mm;

  font-family: IBM Plex Mono;
  font-size: 7pt;
}
.headerRight {
  position: running(headerRight);
  margin-bottom: 0mm;

  font-family: IBM Plex Mono;
  font-size: 7pt;
}

/* MARGIN */

h1, h2, h3, h4, p, table, ul, pre, figcaption {
  margin: 0 0 10pt 0;
}

/* COMPTEURS */
h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }
h6 {}

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}

/* HEADING */

h3 {
  font-weight: normal;
  text-decoration: underline;
}

/* NOTES */

sup { vertical-align: top; font-size: .8em; }
.footnotes li {
  list-style-position: outside;
}
/* LIST */
li {
  margin-left: .5cm;
}
ul ul {
  margin-bottom: 0pt;
}
body > ul > li > ul {
  margin-bottom: .5cm;
}

/* IMG */
img {
  display: block;
  max-width: 100%;
}

/* TABLEAU */ 
table {
  font-size: 8.5pt;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 4px 9px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 4px 9px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}


/* CODE */
code, tt {
  font-size: 9pt;
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}

/* FIGURE */

figcaption {
  margin-left: .5cm;
  font-size: 8pt;
}

/* HR */

hr {
  margin: 8px 0px;
}

